html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
        --spacing-1: 8px;
        --spacing-2: 12px;
        --spacing-3: 16px;
        --spacing-4: 24px;
        --border-radius: 12px;
        --font-color: #ffffff;
        
}

/*Elements*/
body {
   
	margin: 0;
	padding: 0 ;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
    font-family: 'poppins';
   
}

section {
	padding: var(--spacing-3) 0;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    font-family: 'poppins'

}

h2 {
    display: flex;
    font-weight: 600;
}

p {
    font-family: 'poppins';
    font-size: 16px;
    line-height: 1.5rem;
    
}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
    margin: 20px;
}

/*Classes*/

.nav-item {
    display: flex;
    margin: var(--spacing-1);
    list-style: none;
}

.nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.site{
    display: inline;  
}

.site a {
    display: flex;
    justify-content: center;
}

.site img {
    width: 30%;

}


.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
}

.about-text-container {
    display: inline;
    justify-content: center;
    width: 50%;
    margin-right: var(--spacing-3);
}

.about-me-paragrpahs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

.portrait {
	width: 25%;
    height: 25%;
	border-radius: var(--border-radius);
	flex-shrink: 0;
    margin-top: 50px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100;
    
}

.projects-text-container-1, .projects-text-container-2, .projects-text-container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    
    margin: var(--spacing-5);
    padding: 20px;
}
.portfolio-pic {
    width: 100%;
}

.project-image{
    width: 75%;
}


.sites {
    width: 150px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
    }

skills-text-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 75%;
    margin-right: var(--spacing-3);

}

/* #ID's */


#nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 550px;
    margin-left: auto;
}

#main-banner {
    background-image: url(./Assets/AdobeStock_482833408.jpeg);
    width: 100%;
    height: 605px;
    padding: 0;
    background-size: cover;
}

#logo {
    display: flex;
    flex-direction: row;
}

#about {
    height: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    padding: 2rem;
}



#skills-heading{
    margin-right: 1rem;
}





/*SVG in Skills area*/
.bi-filetype-css {
    
    
}

/*Responsive Design*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }






